.rweet {
  height: 100%;
}
.container {
  display: flex;
  position: relative;
  padding: 15px;
  width: 100%;
  border: 1px solid #000;
  border-bottom: none;
}
.creator {
  display: flex;
}
.creator__photo {
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
}
.creator__photo img {
  width: 100%;
}
.inner__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10px;
  padding-bottom: 14px;
  flex: 1;
}
.creator__info {
  display: flex;
  align-items: flex-end;
  gap: 4px;
  margin-bottom: 0.2em;
}
.username {
  font-weight: 500;
}
.email,
.created {
  color: rgb(75, 75, 75);
  font-size: 0.9rem;
}

.list {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-top: 4px;
}
.item {
  color: #ff9500;
}
.button__list {
  display: flex;
  align-items: center;
}
.attachment__container {
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 18px;
  width: 100%;
  overflow: hidden;
  max-height: 380px;
  max-width: fit-content;
  margin-bottom: 1em;
}
.attachment__container img {
  width: 100%;
}
.button__list {
  display: flex;
  justify-content: space-around;
}
.button__item {
}
.edit__container {
  position: absolute;
  top: 10px;
  right: 7px;
}
.edit__container span {
  margin-right: 8px;
  cursor: pointer;
}
