.container {
  display: flex;
  max-width: 100vw;
  align-items: center;
  height: 100vh;
}
.nav__container {
  width: 20%;
  min-width: 280px;
  height: 100%;
}
.main {
  position: relative;
  width: 70%;
  min-width: 550px;
  height: 100%;
}
.search__container {
  height: 100%;
  max-width: 340px;
}
